@import "~bootstrap/scss/bootstrap"

*
    margin: 0
    padding: 0
    box-sizing: border-box
    &:focus
        box-shadow: none !important

//================================================ 
//============= FONTS =========================== 
@font-face
    font-family: 'VisbyCF-Thin'
    src: url('./assets/fonts/VisbyCF-Thin.otf') format('opentype')
@font-face
    font-family: 'VisbyCF-Regular'
    src: url('./assets/fonts/VisbyCF-Regular.otf') format('opentype')
@font-face
    font-family: 'VisbyCF-Medium'
    src: url('./assets/fonts/VisbyCF-Medium.otf') format('opentype')
@font-face
    font-family: 'VisbyCF-Bold'
    src: url('./assets/fonts/VisbyCF-Bold.otf') format('opentype')
@font-face
    font-family: 'VisbyCF-ExtraBold'
    src: url('./assets/fonts/VisbyCF-ExtraBold.otf') format('opentype')
//==============================================
// ============ COMMON =========================
html, body
    font-family: 'VisbyCF-Regular', Arial, Helvetica, sans-serif
    letter-spacing: 0.6px
    background-color: rgb(247, 247, 247)
